{% trans_default_domain 'Security' %}

{% set lineCount = 0 %}
{% for name, line in passwordPolicy %}
    {% if name is not same as('minLength') %}
        {% if lineCount is same as (0) %}
            {{ line|trans({'{oneString}': passwordPolicy['minLength']}) }}
            <br/>
            <ul>
        {% else %}
            <li>
                {{ line|trans({'{oneString}': passwordPolicy['minLength']}) }}
            </li>
        {% endif %}
        {% set lineCount = lineCount + 1 %}
    {% endif %}
{% endfor %}
</ul>
