.day {
    width: 13.2%;
    min-height: 20px;
    border: 1px solid #cccccc;
    float: left;
    margin-top: -1px;
    background-repeat: repeat;
}
.no-print, .no-print * {
    display: none !important;
}
