.day {
    width: 13.2%;
    min-height: 20px;
    border: 1px solid #cccccc;
    float: left;
    margin: -1px -1px 0 0;
    background-repeat: repeat;
}
.no-print, .no-print * {
    display: none !important;
}
