{% trans_default_domain 'Behaviour' %}

    {% if alerts.wrapper is defined and alerts.wrapper %}
        <div class="{{ alerts.wrapperClass }}" {{ alerts.wrapperExtras }}>
    {% endif %}
    {% for alert in alerts.alerts %}
        {% set attr = '' %}
        {% set attr = attr ~ ' style="color: #' ~ alert.highestColour ~ '; border-color: #' ~ alert.highestColour ~ '; background-color: #' ~ alert.highestColourBG ~ ';"' %}
        {% set attr = attr ~ ' class="' ~ alerts.classDefault ~ '"'  %}
        {% if alert.title_params.name is defined %}
            {% set alert = alert|merge({title_params: alert.title_params|merge({name: alert.title_params.name|trans({}, 'messgaes')})}) %}
        {% endif %}
        {% set attr = attr ~ ' title="' ~ alert.title|trans(alert.title_params, alert.translation_domain) ~ '"' %}
        {% include 'components/link.html.twig' with {url: alert.link, text: alert.tag} %}
    {% endfor %}
    {% if alerts.wrapper is defined and alerts.wrapper %}
        </div>
    {% endif %}
