{% trans_default_domain 'System' %}

<h2>{{ 'Installation - Step {step}'|trans({'{step}': '2'}) }} [{{ 'Foreign Constraints'|trans }}]</h2>
<p>{{ 'installation_constraints_complete'|trans({count: tableCount, '{date}': 'now'|date('Y-m-d')}) }}</p>
